<div class="row">
	<div class="col-xs-12 col-md-6 col-md-offset-3">
		<!--<div class="alert alert-danger" *ngIf="error">-->
			<!--<p>{{ error }}</p>-->
		<!--</div>-->
		<app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
		<form #form="ngForm" (ngSubmit)="onSubmit(form)">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" id="email" name="email" class="form-control" ngModel required>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" id="password" name="password" class="form-control" required ngModel minlength="6">
			</div>
			<div class="btn-group">
				<button type="submit" class="btn btn-primary"
						  [disabled]="!form.valid">{{ isLoginMode ? ' Login' : 'Sign Up' }}</button>
				<button type="button" class="btn btn-primary"
						  (click)="onSwitchMode()">Switch to {{ isLoginMode ? 'Sign up' : 'login' }}</button>
			</div>
		</form>
	</div>
</div>
